.titre {
  /*background-color: red;*/
  display: flex;
  justify-content: center;
  padding: 16px 0 16px 0;
  color: white;
  font-size: 30px;
  font-family: Calibri, serif;
  /*width: 10px;*/
}

.resultat {
  display: flex;
  flex-direction: column;
}

.mise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50%;
  margin-right: 50%;
  width: 100px;
}

.mise-valeur {
  margin-left: 50%;
  margin-right: 50%;
}

.infos-personnelles {
  display: flex;
  flex-direction: column;
}

.hud {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body {
  background-color: green;
}

button {
  color: aliceblue;
  background-color: darkgreen;
}

.container-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}